TELEGRAM_BOT_TOKEN=

PG_HOST=localhost
PG_PORT=5432
PG_USER=petrkarol
PG_DATABASE=postgres

# Optional for pipeline date range
DATE_FROM=2026-03-18
DATE_TO=2026-03-18

# Optional season labels
SEASON=20252026
SEASON_ID=20252026
CURRENT_SEASON=25/26
